<html>
    <head>
    <style>
        body {{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #FF00FF, #BA55D3, #9370DB);
            text-align: center;
            margin-top: 50px;
        }}
        h1 {{
            color: #a94442;
            font-size: 65px;
        }}
        p {{
            color: #333;
            font-size: 17px;
        }}
    </style>
    </head>
    <body>
    <img src="https://i.imgur.com/DmqE91t.jpeg" style="width: 800px; height: 1000px; border-radius: 12px;">
    <h1>Not Approved</h1>
    <p>Your unique key is: {}</p>
    <p>Sorry, you don't have permission to run contact owner whatsapp +919235741670.</p>
    </body>
</html>
